
figure{
    border: solid;
    box-shadow: 5px 5px 5px black;
    border-radius: 10px;
    background-color: rgb(177, 209, 209);
    width: min-content;
    margin: 10px auto;
}



h1, h2{
    text-align: center;
}